@import url(http://fonts.googleapis.com/css?family=Eater|Special+Elite);
body {
	background: url(../img/cthulhu.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: 'Special Elite';
	color: #fff;
	padding-top: 0;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family: 'Eater';
	text-align: center;
	color: #ffe6ff;
}

h1 {
	-webkit-animation: neon1 2s ease-in-out infinite alternate;
	-moz-animation: neon1 2s ease-in-out infinite alternate;
	animation: neon1 2s ease-in-out infinite alternate
}

	@keyframes neon1 {
	  from {
	    text-shadow: 0 0 10px #aaa,
	               0 0 20px  #fff,
	               0 0 30px  #fff,
	               0 0 40px  #FDE181,
	               0 0 70px  #FD9D4F,
	               0 0 80px  #FD7303,
	               0 0 100px #FD4403,
	               0 0 150px #FD5039;
	  }
	  to {
	    text-shadow: 0 0 5px #aaa,
	               0 0 10px #fff,
	               0 0 15px #fff,
	               0 0 20px #FDE181,
	               0 0 35px #FD9D4F,
	               0 0 40px #FD7303,
	               0 0 50px #FD4403,
	               0 0 75px #FD5039;
	  }
	}

h3 {
	-webkit-animation: neon2 2s ease-in-out infinite alternate;
	-moz-animation: neon2 2s ease-in-out infinite alternate;
	animation: neon2 2s ease-in-out infinite alternate
}
@keyframes neon2 {
	  from {
	    text-shadow: 0 0 2.5px #aaa,
	               0 0 10px  #fff,
	               0 0 15px  #fff,
	               0 0 20px  #FDE181,
	               0 0 35px  #FD9D4F,
	               0 0 40px  #FD7303,
	               0 0 50px #FD4403,
	               0 0 75px #FD5039;
	  }
	  to {
	    text-shadow: 0 0 2.5px #aaa,
	               0 0 5px #fff,
	               0 0 7.5px #fff,
	               0 0 10px #FDE181,
	               0 0 17.5px #FD9D4F,
	               0 0 20px #FD7303,
	               0 0 25px #FD4403,
	               0 0 37.5px #FD5039;
	  }
	}


.starter-template {
	padding-top: 15px;
	padding-bottom: 15px;
}
	.starter-template p {
		margin-top: 10px;
		margin-bottom: 10px
	}

a {
	color: #ffff99;
}

a.list-group-item {
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	border-radius: 4px;
}

a.list-group-item:hover {
	color: #fff;
	background-color: rgba(0,0,0,0.25);
	border-color: #fff;
}

a:hover{
	color: white; 
	-webkit-animation: neon3 1s ease-in-out infinite alternate;
	-moz-animation: neon3 1s ease-in-out infinite alternate;
	animation: neon3 1s ease-in-out infinite alternate; 
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #ffff99,
               0 0 70px  #ffff99,
               0 0 80px  #ffff99,
               0 0 100px #ffff99,
               0 0 150px #ffff99;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ffff99,
               0 0 35px #ffff99,
               0 0 40px #ffff99,
               0 0 50px #ffff99,
               0 0 75px #ffff99;
  }
}
